<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/registrar" method="POST">
<input type="text" id="user" name="user">
<input type="password" id="password" name="password">
<button type="submit">Enviar</button>
</form>